*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 1vh;
}

html {
    font-size: 62.5%; /* font is 10px */
    scroll-behavior: smooth;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

.Navbar__background {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 14rem 14rem;
    list-style: none;
    padding-right: 100vw;
}

.Navbar__navbar__list {
    display: grid;
    grid-template-columns: 14rem 14rem;
    list-style: none;
    padding-left: 5rem;
}

.Navbar__list__button {
    padding: 1rem;
    background-color: aquamarine;
    border: none;
}

.Navbar__list__item :hover {
    background-color: rgb(128, 230, 196);
}

.Navbar__item__link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}