.Todolist__background{
   background-color: white;
   display: flex;
   align-items: center;
   justify-self: center;
   height: 90vh
}

.todolist{
   font-family: sans-serif;
   display: grid;
   font-size: 1.5rem;
   text-decoration: none;
}